{% extends 'base.html.twig' %}

{% trans_default_domain 'posts' %}

{% block title "Post of " ~ post.author.userIdentifier ~ " - Postus" %}

{% block body %}
    <h1>{{ post.author.userIdentifier }}</h1>
    <p>{{ post.description }}</p>
    {% if post.author.userIdentifier == app.user.userIdentifier %}
        <a class="btn btn-outline-info" href="{{ path('app.post.edit', {id: post.id}) }}">{{ 'Edit'|trans }}</a>
        <a class="btn btn-outline-danger mx-2" href="{{ path('app.post.delete', {id: post.id}) }}">{{ 'Delete'|trans }}</a>
    {% endif %}
    <hr />
    {% for message in app.flashes('success') %}
        {{ component('alert', { type: 'success', message: message }) }}
    {% endfor %}
    <h3>{{ (post.comments|length ? post.comments|length : "No"|trans({}, 'comments')) ~ " " ~ (post.comments|length >= 2 ? 'comments'|trans({}, 'comments') : 'comment'|trans({}, 'comments')) }}</h3>
    {{ form(form, { action: path('app.comment.new', {pid: post.id}), method: 'POST' }) }}
    {% if post.comments.count != 0 %}
        {% for comment in post.comments.values %}
            <li>
                {{ comment.description }}, {{ comment.author.userIdentifier }} - {{ comment.createdAt|ago }}
                {% if comment.author.userIdentifier == app.user.userIdentifier %}
                    <a href="{{ path('app.comment.remove', { pid: post.id, cid: comment.id }) }}">{{ 'Delete'|trans }}</a>
                {% endif %}
            </li>
        {% endfor %}
    {% else %}
        <h5 class="d-block text-center">{{ 'No comments'|trans({}, 'comments') }}</h5>
    {% endif %}
{% endblock %}
