{% extends 'base.html.twig' %}

{% trans_default_domain "conversations" %}

{% block title %}{{ 'Conversations list'|trans }} - Postus{% endblock %}

{% block body %}
    <h1>{{ 'Conversations list'|trans }}</h1>
    <a class="btn btn-primary mb-3" href="{{ path('app.conversation.new') }}">{{ 'Create an conversation'|trans }}</a>
    <div class="list-group">
        {% for conversation in conversations %}
            <a href="{{ path('app.conversation.show', {'uuid' : conversation.id}) }}" class="list-group-item list-group-item-action">
                {% for user in conversation.users.values() %}
                    {{ user.userIdentifier ~ (not loop.last ? ", " : "") }}
                {% endfor %}
                {{ conversation.users.count > 2 ? '(group)'|trans : '(individual)'|trans }}
            </a>
        {% else %}
            <span class="text-center">{{ 'No conversations added'|trans }}</span>
        {% endfor %}
    </div>
{% endblock %}
